.imgContainer {
  background-color: white;
  border-radius: 32px;
  margin: auto;
  width: 360px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px -3px rgb(0, 56, 56);
}

.image {
  border-radius: 32px 32px 0 0;
  width: 100%;
  height: calc(100% - 64px);
  object-fit: contain;
}

.imgAuthor {
  margin: 16px 32px;
  text-align: center;
}

.imgContainer:hover {
  transform: scale(1.05);
  box-shadow: 0px 24px 32px -32px teal;
  z-index: 1;
}

.favorite-btn {
  background: none;
  box-shadow: none;
  position: relative;
  top: 0;
  right: 0;
}

.favorite-btn:hover {
  box-shadow: none;
  transform: scale(2);
}
